.navbar {
    position: relative;
    height: 50px;
    margin-bottom: 50px;
}
.logo {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    top: 10px;
    font-size: 25px;
    font-weight: 700;
}
.contact {
    position: absolute;
    right: 0;
    top: 14px;
}
.contact a {
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 10px 20px;
}
.menu-navigasi {
    position: absolute;
    width: 100%;
    text-align: center;
}
nav li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 5px;
}
nav li :hover {
    font-weight: 700;
}
nav li a {
    color: black;
    text-decoration: none;
}
.banner {
    position: relative;
    width: 100%;
    height: 650px;
}
.banner-left {
    position: absolute;
    left: 0;
    width: 45%;
}
.banner-right {
    position: absolute;
    right: 0;
    width: 50%;
    margin-right: 0;
}
h1 {
    font-size: 60px;
}
.our-services {
    background-color: #066b00;
    padding-top: 50px;
    color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}
.our-services-title {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.our-services-items {
    position: relative;
    width: 100%;
    height: 220px;
    text-align: center;
}
.service-item1 {
    position: absolute;
    left: 120px;
    width: 180px;
    background-color: #11a00a;
    color: white;
    border-radius: 10px;
}
.service-item2 {
    position: absolute;
    left: 310px;
    width: 180px;
    background-color: #11a00a;
    color: white;
    border-radius: 10px;
}
.service-item3 {
    position: absolute;
    left: 500px;
    width: 180px;
    background-color: #11a00a;
    color: white;
    border-radius: 10px;
}
.service-item4 {
    position: absolute;
    left: 690px;
    width: 180px;
    background-color: #11a00a;
    color: white;
    border-radius: 10px;
}