.navbar {
    position: relative;
    height: 50px;
    margin-bottom: 50px;
}
.logo {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    top: 10px;
    font-size: 25px;
    font-weight: 700;
}
.contact {
    position: absolute;
    right: 0;
    top: 14px;
}
.contact a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 20px;
}
.menu-navigasi {
    position: absolute;
    width: 100%;
    text-align: center;
}
nav li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 5px;
}
nav li :hover {
    font-weight: 700;
}
nav li a {
    color: black;
    text-decoration: none;
}
.banner {
    position: relative;
    width: 100%;
    height: 400px;
}
.banner-left {
    position: absolute;
    left: 0;
    width: 45%;
}
.banner-right {
    position: absolute;
    right: 0;
    width: 50%;
    margin-right: 0;
}